<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        section {
            margin: 0 10vw;
        }

        .blogNews {
            display: flex;
            flex-direction: column;
        }

        .blogNews img {
            margin: 0 auto;
        }

        .date {
            margin-left: auto;
        }

        textarea {
            width: 100%;
            height: 150px;
        }

        .comments button {
            padding: 1em 2em;
            background-color: grey;
            color: white;
            border: none;
            border-radius: 10px;
        }

        .comments button:hover {
            color: yellow;
            cursor: pointer;
            transition: .6s;
        }

        .comment-section {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            margin: 3em 0;
        }

        .comment-section p {
            padding-left: 67px;
        }

        .comment-section>div {
            padding: 1em;
            background-color: lightgray;
            border-radius: .5em;
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-bottom: .8em;
        }

        .profile img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    </style>
</head>

<body>

    <section>
        <div class="blogNews">

            <h1>{{title}}</h1>
            <p class="date">{{date}}</p>

            <hr>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellat voluptatem quia facilis.
                Reprehenderit exercitationem fugiat, nihil in illum eos excepturi odio asperiores ea non unde minima vel
                doloremque laboriosam placeat mollitia commodi culpa rerum voluptates ex maiores debitis? Velit corrupti
                incidunt similique ipsam ex optio expedita veniam, molestias, sed rerum architecto. Voluptates iste
                commodi perspiciatis quos magnam beatae quasi iure dignissimos quae omnis error veritatis, deserunt
                eligendi quod ipsam veniam doloremque dolorem et id quas? Mollitia earum veritatis numquam incidunt,
                eligendi impedit assumenda sed consequatur quo, nemo doloremque tempore voluptatibus dolorum! Vel saepe
                minima sequi vitae quia earum. Quas?</p>
        </div><br><br>

        <div class="comments">
            <textarea placeholder="Describe your Comments...."></textarea>
            <div class="btn">
                <button type="submit">Submit</button>
            </div>
        </div>

        <div class="comment-section">
            <h2>COMMENTS</h2>
            <div>
                <div class="profile">
                    <img src="" alt="">
                    <b>{{name}}</b>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error optio nesciunt libero sequi saepe ex,
                    dicta corporis fugit inventore amet.</p>
            </div>
        </div>
    </section>
</body>

</html>