* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 30px;
    background-color: lightblue;
}

.blog-form input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 7px;
}

.blog-form img {
    border-radius: 20px;
    margin: 20px;
}

.blog-form button {
    padding: 10px;
    border-radius: 10px;
}