* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: lightblue;
    padding: .2em 0;

}

header nav #web-heading {
    font-size: 28px;
    margin: 0 20px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: auto;
    font-size: 17px;
    margin: 0 20px;
}

header nav ul img {
    border-radius: 50px;
    margin: 3px;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    /* padding: 3px; */
}

body li {
    list-style-type: none;
}

body a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: blue;
}

header+section {
    margin: 50px 15px;
}

header+section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
    border-radius: 1em;
    /* height: 75vh; */
}

section div a {
    display: flex;
    flex-direction: column;
    gap: .4em;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
    width: min-content;
}

section div a:hover {
    box-shadow: 2px 2px 2px 5px lightgray;
    transition: .5s;
}

section p {
    color: grey;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 14px;
}

section img {
    height: 200px;
    width: 300px;
    border-radius: 1em;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 1em 0;
}