label {
    font-weight: bold;
    margin: 5px;
}

section input {
    width: 80%;
    outline: none;
    padding: .5em;
    border-radius: 1em;
    margin: 5px;
}

.form-group {
    display: flex;
    flex-direction: row;
}

section button {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5em;
    background-color: lightgrey;
    border-radius: 10px;
}

section button a {
    font-size: 16px;
}

section button a:hover {
    color: blue;
}

#profile-pic {
    border-radius: 50%;
}

#my-blog-container header+section {
    margin: 50px 15px;
}

#my-blog-container header+section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    align-items: center;
    border-radius: 1em;
    /* height: 75vh; */
}

#my-blog-container section div a {
    display: flex;
    flex-direction: column;
    gap: .4em;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
    width: min-content;
}

#my-blog-container section div a:hover {
    box-shadow: 2px 2px 2px 5px lightgray;
    transition: .5s;
}

#my-blog-container section p {
    color: grey;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 14px;
}

#my-blog-container section img {
    height: 200px;
    width: 300px;
    border-radius: 1em;
}