* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2em;
    width: 70vh;
    height: 80vh;
    padding: 2em;
    background-color: lightblue;
    border-radius: 2em;
}

.form h3 {
    text-align: center;
    color: #000;
    font-size: 30px;
}

#submit-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 5px;
}

.form input {
    width: 90%;
    outline: none;
    padding: 1em;
    border-radius: 1em;
    margin: 5px;
}

.form button {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: .5em;
    background-color: lightgrey;
    border-radius: 10px;
}

.form button a {
    font-size: 16px;
}

.form button a:hover {
    color: blue;
}

.rform section {
    display: flex;

}

.rform section>div {
    flex: 1;
}

.rform {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 70%;
    border-radius: 2em;
    /* border: 2px solid black; */
    padding: 2em;
    background-color: lightblue;
}

.rform .form-group,
.rform .form-gender {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5em;
    margin-bottom: 1em;
}

.rform .form-group input {
    outline: none;
    padding: 1em;
    width: 90%;
    border-radius: .2em;
}


.form-check {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

#terms {
    display: flex;
    flex-direction: row;
    width: 10px;
}

.terms label {
    font-weight: 600;
    margin: 10px;
}

.form-check a,
.form p>a {
    display: flex;
    color: blue;
    text-decoration: underline;
    font-weight: 400;
}

@media (max-width:990px) {
    .form {
        width: 70%;
    }

    .rform section {
        flex-direction: column;
    }
}